.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .modal-container {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    transition: width 1s linear 1500ms;
  }